# used for sitemap to build absolute urls
SITE_URL=""

# used for google safebrowsing checks
G_API_KEY=""

# used to downlaod zones from ICANN CZDS
CZDS_USERNAME=""
CZDS_PASSWORD=""

# used to send email alerts when download/parse fails (sendmail must be installed)
EMAIL=""
